<div id="quote_toolbar_<%= @quote.id %>" class="quote_toolbar">
	<div id="quote_tools_<%= @quote.id %>" class="quote_tools" >
		by <%= link_to @quote.user.login, user_path(@quote.user) %> on <%= @quote.created_at.to_s(:short) %>
		&nbsp;
	
		<%= link_to_function "details", toggle_div("quote_extended_#{@quote.id}")%>
	
		<% if (@quote.user == current_user) %>
    		/ <%= link_to 'edit', edit_user_quote_path(@quote.user, @quote) %> 
			/ <%= link_to('delete', user_quote_path(@quote.user, @quote), :confirm => 'Are you sure?', :method => :delete) %>
		<% end %>
	</div>

	<div id="votes_<%= @quote.id %>" class="quote_votes">
		<%= render :partial => "votes/quote_vote", :locals => {:quote => @quote} %>
	</div>
	
    <br class="clearfix"/>

	<div id="quote_tags_<%= @quote.id %>" class="quote_tags">
		Tags: <%= @quote.tags.join(' ') %>
	</div>
</div>
