<% form_for([@user, @quote]) do |f| %>
  <%= f.error_messages %>


  <div id="quote">
  	<div id="quote_text">
      <%= f.label :quote_someone! %><br />
      <%= f.text_area :quote, :cols => "60", :rows => "5" %>
  	</div>
  	<div id="quote_author">
  	  <div id="quote_author_input">
        <%= f.text_field :author, :size => "15"%><br />
  	    <%= f.label :author %>
  	  </div>

      <div id="quote_context_input">
        <%= f.text_field :quote_context, :size => "20" %><br />
        <%= f.label :context %>
      </div>
      
  	</div>
  </div>

    <%# f.label :quoted_at %>
    <%# f.date_select :quoted_at %>

    <%# f.label :copyright %>
    <%# f.text_area :copyright %>

    <%# f.label :quoted_by %>
    <%# f.text_area :quoted_by %>

    <%# f.label :author_title %>
    <%# f.text_area :author_title %>

    <%= f.submit "Save Quote" %> or <%= link_to 'Go Back', user_quotes_path %>
    
<% end %>
