<div id="quote_toolbar_<%= @quote.id %>" class="quote_toolbar">
	<div id="quote_tools_<%= @quote.id %>" class="quote_tools" >
	
		<%= link_to_function "details", toggle_div("quote_extended_#{@quote.id}")%>
	
		<% if (@quote.user == current_user) %>
    		/ <%= link_to 'edit', edit_user_quote_path(@quote.user, @quote) %> 
			/ <%= link_to('delete', user_quote_path(@quote.user, @quote), :confirm => 'Are you sure?', :method => :delete) %>
		<% end %>
	</div>

	<div id="votes_<%= @quote.id %>" class="quote_votes">

	</div>
	
    <br class="clearfix"/>

	<div id="quote_tags_<%= @quote.id %>" class="quote_tags">
		Tags: <%= f.text_field :tag_list %> 		
	</div>
</div>
