<h1>Listing quotes</h1>

<table>
  <tr>
    <th>Quote</th>
    <th>Author</th>
    <th>Quoted by</th>
    <th>Quoted at</th>
    <th>Copyright</th>
    <th>Quote context</th>
    <th>Author title</th>
  </tr>

<% for quote in @quotes %>
  <tr>
    <td><%=h quote.quote %></td>
    <td><%=h quote.author %></td>
    <td><%=h quote.quoted_by %></td>
    <td><%=h quote.quoted_at %></td>
    <td><%=h quote.copyright %></td>
    <td><%=h quote.quote_context %></td>
    <td><%=h quote.author_title %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quote', new_quote_path %>
