
%span.left
  = @user.login + "'s Profile"

- if current_user == @user
  %span.right
    = link_to "Edit", edit_user_path(@user)

%br#clearfix

Name: 
= @user.first_name
= @user.last_name
%br
Total Quotes: 
= @user.quotes.count
%br
Karma: 
= @user.karma
%br
Has voted: 
= @user.vote_count
times.
%br

