<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield(:pagename) %>: MyQuotable.com</title>
  <meta name="description" content="Store, Organize, Discover, and Share your favorite quotes"/>
	<meta name="keywords" content="quotes, quotable, micro-blog, blog, social"/>

	<%= yield(:head) %>

	<%= stylesheet_link_tag 'styles' %>
  <%= stylesheet_link_tag 'pagination' %>
  <%= javascript_include_tag :defaults %>

</head>
<body>
<div id="container">
	<div id="header">
		<div id="header-left">
		  <!--div id="logo"></div-->
        <h1>MyQuotable: Share, Tag, Organize</h1>
		</div>
		
		<div id="header-right">
			<%= "logged in as #{current_user.login} |" if logged_in? %>  
			<%= logged_in? ? link_to("Log out", logout_path) : link_to('Log In / Signup', login_path) %> |
			<%= link_to 'How it Works', about_path %>
		</div>
	</div>
	
	<% content_for :statusbar do %>
    <%= get_statusbar %>
  <% end %>
  
	<div id="statusbar">
	  <div id="statusbar-left">
	    <%= yield(:statusbar) %>
	  </div>
	  <div id="searchbox">
	    <form>
			<input type="text" value="Search doesn't work yet." /> 
			<select>
				<option>All Quotes</option>
				<option>Users</option>
				<option>My Quotes</option>
				<option>Authors</option>
				<option>Quoters</option>
				<option>The Web</option>
			</select>
		</form>
	  </div>	  
    <br id="clearfix" />
	</div>
	
	<div id="main-content">
		<%= yield %>
	</div>

  <% if defined?(@user) %>
	<div id="sidebar" class="sidebar">
		<%= render :partial => "tags/tag_cloud" %>
	</div>
  <% end %>

</div>

<br />

<div id="footer">
  <div id="footer_nav">
    <%=	link_to 'Terms', terms_path %>
	  <%= link_to 'Privacy Policy', privacy_path %>
	  <%# link_to 'Developer API', api_path %> 
	  <b><u><a href="mailto:bugs@myquotable.com">Found a bug?</b></u></a></span>
	</div>
	
	<div id="copyright">		
		&copy; Copyright 2008 MyQuotable.com
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4944574-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>